/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$unit: 1rem;
$radius: 0.25rem;



/* Colors
––––––––––––––––––––––––- */

$earnest-green: #1bb580;
$black-o-50: rgba(0, 0, 0, 0.50);
$black-o-90: rgba(0, 0, 0, 0.10);
$gray: rgba(75, 75, 75, 1);
$link-blue: rgba(75, 150, 225, 1);



/* Compiled styles (instead of inheritance or mixins)
––––––––––––––––––––––––- */

$border: 1px solid;
$border-dashed: 1px dashed;
