/* Education
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.verify {
  margin: 0 auto;
  max-width: 600px;
  header {
    background-color: $gray--6;
    padding: 12px 12px 4px;
    margin-bottom: 6px;
  }
  h6 {
    font-weight: bold;
    text-transform: uppercase;
  }
  .row {
    margin: 6px 12px;
  }
}
