/* Using Mixins
   - More code
   - Often unessecary with Autoprefixer (http://caniuse.com/)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card { /* card is more semantic as it defines things only a card would have */
  background-color: #FFF;
  display: block;
  padding: $unit $unit $unit * 1.25;
}

.depth-1 { /* begin mixins */
  @include border-radius($radius);
  @include box-shadow(0, 1px, $unit, $black-o-90); /* end mixins */
  border: $black-o-90 $border;
}

.card-deep {
  @extend .card;
  @extend .depth-1;
  margin: $unit * 2 0 $unit * 2.5;
}
